@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


::selection {
  background: #facc15;
  color: black;
}

body {
  background: radial-gradient(circle at top, #0f0f0f, #050505);
}
@keyframes shimmer {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}
@keyframes shine {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}